<div class="ban" style="text-align:center">
	<h2>{{ message }}</h2>
	{% if board %}
		<p>
			<a href="{{ config.root }}{% if mod %}{{ config.file_mod }}?/{% endif %}{{ board.dir }}{{ config.file_index }}">
				{% trans 'Go back' %}
			</a>
		</p>
	{% endif %}
	<img class="404-image" style="padding: 2px 2px;display: inline-block; max-width: 99%;" src="/404.php" >
</div>
{% if debug and config.debug %}
	<hr>
	<h3>{% trans 'Error information' %}</h3>
	<pre style="white-space:pre-wrap;font-size: 10px;">
		{{ debug }}
	</pre>
	<hr>
{%  endif %}