{% filter remove_whitespace %}
{# tabs and new lines will be ignored #}
<div class="post reply" id="reply_{{ post.id }}">
<p class="intro">
	{% if not index %}<a id="{{ post.id }}" class="post_anchor"></a>{% endif %}
		{% include 'post/flag.html' %}
		{% include 'post/proxy.html' %}
		{% include 'post/homer.html' %}
		{% include 'post/subject.html' %}
		{% include 'post/name.html' %}
		{% include 'post/geoloc.html' %}
		{% include 'post/ip.html' %}
		{% include 'post/time.html' %}
	{% include 'post/poster_id.html' %}&nbsp;
	<a class="post_no" id="post_no_{{ post.id }}" onclick="highlightReply({{ post.id }})" href="{% if isnoko50 %}{{ post.link('', '50') }}{% else %}{{ post.link }}{% endif %}">No.</a>
	<a class="post_no" onclick="citeReply({{ post.id }})" href="{% if isnoko50 %}{{ post.link('q', '50') }}{% else %}{{ post.link('q') }}{% endif %}">{{ post.id }}</a>
	{% include 'post/post_controls.html' %}
	{% if post.sticky %}
		{% if config.font_awesome %}
			<i class="fa fa-thumb-tack" title="Sticky"></i>
		{% else %}
			<img class="icon" title="Sticky" src="{{ config.image_sticky }}" alt="Sticky" />
		{% endif %}
	{% endif %}
	</p>
    {% include 'post/fileinfo.html' %} 
	<div class="body" {% if post.files|length > 1 %}style="clear:both"{% endif %}>
		{% endfilter %}{% if 'hidebody' in post.email|lower and not mod %}<em><a href="{{ config.root }}user.php">This post can only be viewed with a Bronnen&trade; Brown&trade; account.</a></em>{% elseif index %}{{ post.body|truncate_body(post.link) }}{% else %}{{ post.body }}{% endif %}{% filter remove_whitespace %}
		{% if post.modifiers['ban message'] %}
			{{ config.mod.ban_message|sprintf(post.modifiers['ban message']) }}
		{% endif %}
	</div>
</div>
<br/>
{% endfilter %}
